/* colors, fonts */

.ivalue input {
  text-align: left;	
}
	
.iitem {
  border-top:none;
}
.iitem .ilabel {
  font-weight:normal;
  font-size:0.8em;
}
.iitems {
  -webkit-border-radius:5px;
  -webkit-box-shadow:none;
}
.iitems > .iitem:first-child {
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}
.iitems > .iitem:last-child {
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}

.iswitch {
  font-size:1em;
}
.iswitch > :first-child {
-webkit-border-bottom-left-radius: 5px;
-webkit-border-top-left-radius: 5px;
}
.iswitch > :last-child {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

.icontent {
  /*padding-top: 0.5em;*/
}
#body > form:first-child, #body > .ipanel:first-child {
  padding-top:0.5em;
}
#body > .ipanel-edge:first-child {
  padding-top:0em;
}
.ispin select {
  padding-left:1em;
  padding-right:1em;
  min-width:0;
}
.fdate-month {
  padding-left:0.5em;
}

.iswitch > .ibtn {
  border-color:#014055;
}

.ispin > .ibtn {
  padding:0.1em;
}

.ibtn.pressed {
  background-image: linear-gradient(bottom, rgb(148, 189, 232) 19%, rgb(97, 163, 216) 60%);
  background-image: -o-linear-gradient(bottom, rgb(148, 189, 232) 19%, rgb(97, 163, 216) 60%);
  background-image: -moz-linear-gradient(bottom, rgb(148, 189, 232) 19%, rgb(97, 163, 216) 60%);
  background-image: -webkit-linear-gradient(bottom, rgb(148, 189, 232) 19%, rgb(97, 163, 216) 60%);
  background-image: -ms-linear-gradient(bottom, rgb(148, 189, 232) 19%, rgb(97, 163, 216) 60%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(148, 189, 232)), color-stop(0.6, rgb(97, 163, 216)));
}

/*
.iitems {
  padding:0.3em 0em;  
}
*/

.ilist .iitem {
}
.isubheader {
  font-size:1em;
  border-bottom: 1px solid #8F9BB5;
  color: #fffff;
}
.isubheader .ilabel {
  font-weight: bold !important;
}
.icount {
  background-color: rgba(0, 25, 80, 0.2);
}
.icgroup .iitem {
padding-left: 1em;
background-image: none;
}
.icgroup .iitem .ivalue {
  font-size:0.9em;
}

.routes .selected.iitem .ilabel {
  font-weight:bold;
}
.routes .iitems {
  padding-top:0.5em;
}
.routes .iitem {
  min-height: 1.0em;
  line-height: 1em;
  padding: 0em;
}
.routes .iitem input[type="radio"] {
  margin: 0em 0.5em;
}
.routes .diffroute {
  font-size:0.8em;
  -webkit-box-pack: end;
  padding:0.5em;
}
.iitem.iheader {
  padding:0.25em 1em 0.25em 1em;
  background-color: #ffcd3c;  
  color: white;
  /* background-image:-webkit-linear-gradient(-45deg, rgba(48,80,143,1) 0%,rgba(70,110,163,1) 50%,rgba(48,80,143,1) 51%,rgba(175,210,255,1) 100%); 
  text-shadow: 1px 1px 0px black;*/
  border-bottom: 1px solid #E6F2F6 !important;
}

div.isearch {
  background:none !important;
  border-bottom: 1px solid #8F9BB5;
}
.isearch .iclose {
  top:4px;
  right:5px;
}
.isearch .isearchcnt {
  -webkit-border-image:none;
  border-width:0px;
  margin-left: auto;
  margin-right:0px;
  width:200px;
  height:28px;
}
input.isearch {
background: white;
background: #F0F6F6 url(../img/inputbg.png);
border: 1px solid #6A9BCF;
font-size:0.8em;
border-radius: 14px;
padding-left: 15px;
padding-top: 3px;
padding-bottom: 2px;
}
/* errors are messy! */
.errors {
  line-height: 1.2em;
  display: -webkit-box;
}
.ipanel-edge.errors {
  padding-left:0em;
  margin: 0 0.5em 0.5em 0.5em;
}
.ipanel-edge.errors .iitems {
  -webkit-border-radius:5px;
}
.iitem .errors {
  padding-left:0px;
}
.errors .iitems {
  padding:0.5em;
}

/* remove edge panels? */
.ipanel.ipanel-edge {
  -webkit-border-radius:5px;
  margin: 0 0.5em 0.5em 0.5em;
}

.fare a {
  text-align:right;
  padding-right: .5em;
}

/* from adv.css */

.fare a {
    -webkit-border-radius: 0px 6px 6px 0px;
    padding: 0.5em 1em;
}

.fdate-day {
 margin-right: 4px;
}

input.fdate, input.text-field, .picker-field, select {
  padding:0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background:#f0f6f6 url(../img/inputbg.png);
  outline:none;
  font-size:inherit;
}
input.fdate-select, input.fdate-select:hover {
  background: url(../img/calendar.png) no-repeat;
  width: 16px;
  height: 16px;
  text-indent: 16px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.picker-field {
  background:#f0f0f0 none;
}
select {
  min-width:3em;
}
input.fdate-day {
  width:2em;
}

.fdate-pickerCnt {
  margin:0;
  padding:0;
  width:100%;
  margin-bottom:0.5em;
}
.fdate-pickerCnt .gldp-default {
  width:100% !important;
}

/* glDatePicker (adv.css) */
.gldp-default {
  margin:4 0 10 0;
  border:none;
  background-color:transparent;
  
  background-color:#AEB9D4;
  padding:10;
  border-radius:4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px inset;
  
}
.gldp-default-dow {
  background-color: #30508F;
}
.gldp-default-sat, .gldp-default-sun {
  color:#30508F;
}
.gldp-default-today {
  background-color:#014055;
  border-color:#014055;
}
.gldp-default-selected {
  background-color:#E6F2F6;
  border-color:#014055;
}
.gldp-default-noday {
  opacity:0.7;
}

/* from default.css (should go to common I guess) */
input.fdate, input.text-field, select {
  border: 1px solid #6A9BCF;
}
.copyright {
font-size: xx-small;
color: #AAA;
text-align: center;
padding-top: 10px;
padding-bottom: 3px;
}


/* redesign */
.progress {
text-align: right;
color: white;
font-weight: normal;
font-size: 0.7em;
padding-top: 1px;
padding-bottom: 4px;
border-bottom: 1px sol;
text-transform: uppercase;
border-top: 1px solid #014055;
background: none;
padding-right: 0.9em;
text-shadow: 0px 0px 4px black;
}

.airports.hlight .iitem {
  font-size:0.8em;
}

.multibanner {
  width:100%;
  position:relative;
  overflow:hidden;
}
.multibanner > .banner {
  position:absolute;
  top:0;
  left:0;
}

.hlight .iitems {
/*   background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(215,230,237,1) 68%,rgba(239,250,255,1) 100%); */ 
/*   border:1px solid #E6F2F6 !important;
 */}

.iitems {
 /*  background: -webkit-linear-gradient(-45deg, rgba(232,240,255,1) 0%,rgba(196,210,239,1) 68%,rgba(222,235,252,1) 100%); */
  border:1px solid #E6F2F6 !important;
}

.errors .iitems { 
  background-image:none;
  border-color: #F33B2D !important;
}

/*
.fare a {
  background: -webkit-linear-gradient(-45deg, rgba(105, 139, 181, 1) 0%,rgba(48, 80, 143, 1) 35%,rgba(48, 80, 143, 1) 65%,rgba(105, 139, 181, 1) 100%);
-webkit-box-shadow: inset 1px 1px 1px rgba(48, 80, 143, 1);
border:1px solid #DCE2EA;
text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.7);
}
*/

.fare a {
  border: none;
-webkit-box-shadow: none;
padding:0px 0.5em;
}

.flights .fare:last-child {
  border-bottom:none;
}
.flights .fare:first-child {
  border-top:none;
}

.flights .icsummary, .flights .icgroup {
  padding:0px;
}
.flights div.fare, .flights .code {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size:1em;
	line-height:1.5em;
	display:block;
}
.flights .code {
  padding-left:1em;
  padding-top: 10px;
}
.fare-light a{
  background:-webkit-linear-gradient(left, rgb(255,255,255) 0%, rgba(218,76,26,1) 1%,rgba(242,101,34,1) 100%);
}
.fare-saver a{
  background:-webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(198,20,56,1) 1%,rgba(230,27,74,1) 100%);
}
.fare-flex a{
  background:-webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(73,70,131,1) 1%,rgba(96,92,169,1) 100%);
}
.flights .iheader {
  position:relative;
}
.flights .iheader .iarrow {
  position:absolute;
  right:0.5em;
  top:0.5em;
  /*background-image: url(../img/arrow-right-trans.png);*/
}

/* --- */

#popup {
  position:absolute;
  top:10px;
  left:10px;
  width:200px;
  background:white;
  border:2px solid black;
}

/* playing with fixed header */

.ifixed .header {
  position:fixed;
  z-index:1000;
  width:100%;
  display:block;
  box-shadow:0px 5px 5px rgba(0,0,0,0.2);
}

.ifixed .icontent {
  padding-top:74px;
}
.ifixed.home .header {
  position:relative;
  box-shadow:none;
}
.ifixed.home .icontent {
  padding-top:0px;
}
